@charset "UTF-8";
@media (max-width: 768px){
    .box{
        width: 250px;
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
}

header{
    font-family: Georgia, Times, 'Times New Roman', serif ;
    text-align: center;
    background-image: linear-gradient(to left, #049CFE, #0554B9, #041C66, #052069, #020F48);
    padding: 0px;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    
}

.html-h1{
    color: white;
}

.html-p-header{
    color: white;
}

nav{
    background-image: linear-gradient(to left, #049CFE, #0554B9, #041C66, #052069, #020F48);
    padding: 10px;
    box-shadow: 0px 7px 9px #2C98F7;
    border-radius: 20px;
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s; 
}
nav > a:hover{
    background-color: #fffffffa;
    color: rgba(0, 0, 0, 0.897);
}

nav > a.html0:hover{
    background-color: #F25C05;
    color: white;
}

nav > a.css0:hover{
    background-color: #03738C;
    color: white;
}

nav > a.pyt:hover{
    background-color: #0540F2;
    color: #D2D904;
}

img.ban{
    width: 320px;
}

body.principal{
    background-image: linear-gradient(to left, #049CFE, #0554B9, #041C66, #052069, #020F48);
}
h1 {
    text-align: center;
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
main{
    min-width: 380px;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0px 7px 9px #2C98F7;
    
}
main img {
    width: 50%;
    
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    text-align: center;
    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.897);
    color: white;
    text-decoration: none;
}

footer a {
    text-decoration: none;
}

ul > li.cont{
    list-style: none;
    color: #237ebe;

}

/*pg do HTML*/
header.html2{
    background-color: white;
    

}
body.html1{
    background-image: linear-gradient(to left, #049CFE, #0554B9, #041C66, #052069, #020F48);
}

h1.htmlt{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1cm;
}
div.html3{
    background-color: black;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
div.html3 > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
a.html6{
    color: #9e4a01;
    text-align: center;
    transition: 0.5s;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}
a.html6:hover{
    background-color: orange;
    color: rgba(0, 0, 0, 0.897);
}

/*pg do CSS3*/
header.css4{
    background-color: #ffffff;
    color: white;
    
}
h1.csst{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 1cm;
}
body.css1{
    background-image: linear-gradient(to left, #049CFE, #0554B9, #041C66, #052069, #020F48);

}
div.cssvd{
    background-color: black;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
div.cssvd > iframe{ 
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
a.css5{
    text-align: center;
    transition: 0.5s;
    color: rgb(7, 0, 112);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}
a.css5:hover{
    background-color: #06369efa;
    color: rgba(255, 255, 255, 0.897);
}

/*pg do python*/
header.py2{
    background-color: white;
    
}
body.py1{
    background-image: linear-gradient(to left, #049CFE, #0554B9, #041C66, #052069, #020F48);
}
h1.pyt0{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 1cm;
}
div.py3{
    background-color: black;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
div.py3 > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
table.py4 {
    margin: 10px;
    background-color: black;
}
table tr{
    background-color: white;
}
a.py6{
    text-align: center;
    transition: 0.5s;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}
a.py6:hover{
    background-color: #d1e709;
    color: rgba(3, 78, 128, 0.897);
}
picture.pyimg{
    position: relative;
    top: 5%;
    right: 5%;
}
  
strong.g{
    color: #4285F4;
}
strong.o{
    color: #EA4335;
}
strong.o2{
    color: #FBBC05;
}
strong.g2{
    color: #4285F4;
}
strong.l{
    color: #34A853;
}
strong.e{
    color: #EA4335;
}

/* pg do projeto*/

.pro-header{
    border-radius: 10px;
    box-shadow: 0px 0px 10px #2C98F7;
}

.nav-pro{
    border-radius: 0px 10px 10px 10px;
    box-shadow: 0px 7px 0px #2C98F7;
}

.pro-header-h1{
    color: white;
}

body.prod1{
    background-image: linear-gradient(to left, #049CFE, #0554B9, #041C66, #052069, #020F48);
    
}
.prod2{
    background-color: rgb(216, 219, 219);
}
.prod3{
    text-align: center;
}
.prod4{
    text-align: center;
    transition: 0.5s;
    color: rgb(3, 3, 3);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}
.prod4:hover{
    background-color: #1249c0fa;
    color: rgba(255, 255, 255, 0.897);
}

/*livro*/
.livro1{
    text-align: center;
    font-family: 'Arial Blcak';
    color: darkred;
    
}
.livro2{
    padding: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 4px;
}
button.btn-botao-livro{
    background-color: darkred;
}
button.btn-botao-livro:hover{
    background-color: red;
}


/*localizador*/

.localizador{
    text-align: center;
    font-family: 'Arial Blcak';
    color: #0C2E59;
}

.localizador2{
    padding: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 4px;
}

